SERVER_HOST=127.0.0.1
SERVER_PORT=7000
PG_DSN=postgresql+psycopg2://dollar_admin:Billing123@localhost:5433/dollar_db
POSTGRES_DB=dollar_db
POSTGRES_USER=dollar_admin
POSTGRES_PASSWORD=Billing123
JWT_SECRET=nf4m3msaVtdhsi3l3ACQB8G-u2_id4tjheC4M0wOH7M
JWT_ALGORITHM=HS256
JWT_EXPIRATION=300